# Output files

run_tree/*.pdb
run_tree/*.exp
run_tree/*.obj
run_tree/*.o
run_tree/*.c
run_tree/memory.log

# Debugger files

*.rdbg
*.raddbg
*.rdi

# Editor files

.emacs.desktop
.emacs.desktop.lock

# Baked sprite atlases

run_tree/data/sprite_atlas_*.png
